# Python
__pycache__/
*.py[cod]
*$py.class

# 仮想環境
venv/
env/
.venv/
myenv/

# IDEとエディタ
.vscode/
.idea/
*.swp

# データベース
*.db
*.sqlite3

# 環境変数とシークレット
.env

# ログ
*.log

# キャッシュとビルド
.cache/
build/
dist/

# テストとカバレッジ
.coverage
htmlcov/

# OS生成ファイル
.DS_Store
Thumbs.db
.vercel
node_modules
